@import '../../common/common.scss';
.dropdown {
    position: relative;
    display: inline-block;
    &__content {
        display: none;
        position: absolute;
        background-color: $grey;
        min-width: 100px;
        z-index: 1;
        border-radius: 3px;
        border: 2px solid $dark-grey;
        &__item {
            font-size: $font-size-normal;
            color: $white;
            padding: 8px 12px;
            display: block;
            box-sizing: border-box;
            &:hover {
                color: $yellow;
            }
            &.chosen {
                color: $yellow;
            }
        }
    }
}

.dropdown:hover .dropdown__content {
    display: block;
}