@import 'common/common.scss';
.dropdown {
    display: flex;
    flex-direction: row;
    position: relative;
    line-height: 23px;
    &__content {
        top: 20px;
        position: absolute;
        background-color: $snow;
        min-width: 100px;
        z-index: 1;
        border-radius: 3px;
        // border: 2px solid $dark-grey;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        max-height: 160px;
        overflow: auto;
        &__item {
            text-transform: capitalize;
            font-size: $font-size-normal;
            color: $grey;
            padding: 8px 12px;
            display: block;
            box-sizing: border-box;
            &:hover {
                color: $light-peach;
            }
            &.chosen {
                color: $peach;
            }
        }
    }
    &__icon {
        height: 23px;
    }
}