@import 'common/common.scss';
.notification {
    position: absolute;
    padding: 12px 30px;
    font-size: $font-size-larger;
    border-radius: 20px;
    bottom: 16px;
    left: 16px;
    text-transform: capitalize;
    &._error {
        background-color: rgba(211, 1, 1, 0.2);
        border: 5px solid rgba(211, 1, 1, 0.8);
        color: rgb(211, 1, 1);
    }
    &._success {
        background-color: rgba(17, 143, 28, 0.2);
        border: 5px solid rgba(17, 143, 28, 0.8);
        color: rgb(17, 143, 28);
    }
}