@import 'common/common.scss';
.loader {
    display: inline-block;
    z-index: 1;
    border: 5px solid $dark-grey;
    background-color: $grey;
    box-sizing: border-box;
    &__text {
        color: $white;
        font-weight: bold;
        font-size: $font-size-large;
        padding-left: 20%;
    }
}