@import 'common/common.scss';
.loader {
    display: inline-block;
    z-index: 1;
    border: 5px solid $prim;
    background-color: $prim;
    box-sizing: border-box;
    &__text {
        color: $peach;
        font-weight: bold;
        font-size: $font-size-large;
        padding-left: 20%;
    }
}