@import 'common/common.scss';
.input {
    caret-color: $dark-grey;
    color: $dark-grey;
    box-sizing: border-box;
    height: 30px;
    border: 2px solid $yellow;
    background-color: $white;
    font-size: $font-size-normal;
    border-radius: 4px;
    animation-duration: 1s;
    &:focus {
        border-width: 3px;
    }
    &.size-small {
        width: 100px;
    }
    &.size-medium {
        width: 250px;
    }
    &.size-large {
        width: 600px;
    }
    &.size-larger {
        width: 800px;
    }
}

@keyframes enlarge-small {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}

@keyframes enlarge-medium {
    0% {
        width: 0;
    }
    100% {
        width: 300px;
    }
}

@keyframes enlarge-large {
    0% {
        width: 0;
    }
    100% {
        width: 600px;
    }
}

@keyframes enlarge-larger {
    0% {
        width: 0;
    }
    100% {
        width: 800px;
    }
}