@import 'common/common.scss';
.input {
    caret-color: $dark-grey;
    color: $dark-grey;
    box-sizing: border-box;
    height: 30px;
    // border: 1px solid $peach;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: $box-shadow;
    background-color: $snow;
    font-size: $font-size-normal;
    animation-duration: 1s;
    padding-left: 6px; 
    &:focus {
        // border-width: 2px;
    }
    &.size-small {
        width: 100px;
    }
    &.size-medium {
        width: 250px;
    }
    &.size-large {
        width: 600px;
    }
    &.size-larger {
        width: 700px;
    }
}

@keyframes enlarge-small {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}

@keyframes enlarge-medium {
    0% {
        width: 0;
    }
    100% {
        width: 300px;
    }
}

@keyframes enlarge-large {
    0% {
        width: 0;
    }
    100% {
        width: 600px;
    }
}

@keyframes enlarge-larger {
    0% {
        width: 0;
    }
    100% {
        width: 700px;
    }
}