@import 'common/common.scss';
.button {
    border: none;
    box-sizing: border-box;
    font-size: $font-size-normal;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(45deg, $peach, #ffc400);
    opacity: 1;
    cursor: pointer;
    padding: 4px 8px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $snow;
    border-radius: 3px;
    box-shadow: 0 24px 36px -11px rgba(0,0,0,.1);
    font-weight: 450;
    &:hover {
        opacity: 0.9;
    }
    &._air {
        display: flex;
        flex-direction: row;
        background: none;
        width: auto;
        height: auto;
        font-size: $font-size-normal;
        color: $peach;
        opacity: 1;
        padding: 0;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.8;
        }
    }
    &._size-small {
        justify-content: flex-end;
        line-height: 20px;
        font-size: 10px;
    }
    &._size-medium {
        justify-content: flex-end;
        line-height: 20px;
        font-size: 14px;
    }
    &._size-large {
        text-transform: none;
        justify-content: flex-end;
        line-height: 37px;
        font-size: 18px;
    }
    &._disabled {
        opacity: 0.7;
        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.7;
        }
    }
    &__icon {
        margin: 0 2px;
        width: 20px;
        height: 20px;
        &__small {
            margin: 0 2px;
            width: 20px;
            height: 20px;
        }
        &__medium {
            width: 24px;
            height: 24px;  
        }
        &__large {
            margin-top: 8px;
            margin-left: 10px;
            width: 24px;
            height: 24px;  
        }
    }
}