@import 'common/common.scss';
.main-page {
    display: flex;
    flex-direction: column;
    color: $peach;
    &__templates {
        background-color: $snow;
        padding: 0 20px;
        display: flex;
        min-width: 240px;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        &__title {
            color: $peach;
            margin-top: 12px;
            font-size: $font-size-larger;
            margin-bottom: 12px;
        }
        &__content {
            display: flex;
            flex-direction: column;
            &__scrollable {
                overflow-x: none;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        background-color: $prim;
    }
}

.template {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    padding: 2px 11px;
    line-height: 28px;
    &:last-child {
        margin-right: 0px;
    }
    &__content {
        margin-right: 15px;
        color: $peach;
    }
    &__title {
        color: $grey;
        text-transform: capitalize;
        font-size: $font-size-large;
    }
    &:hover {
        background-color: $prim;
    }
}

.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    width: 50px;
    height: 50px;
}

.template-icon {
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .template__content {
        height: 400px;
        width: 200px;
    }
    .template__title {
        font-size: 25px;
    }
    .main-page__templates {
        padding: 0 4% 0 6%;
        &__title {
            font-size: 35px;
        }
    }
}