@import '../../common/common.scss';
.main-page {
    display: flex;
    flex-direction: column;
    color: $yellow;
    &__header {
        display: flex;
        flex-direction: row;
        height: 45px;
        line-height: 45px;
        background-color: $dark-grey;
        justify-content: space-between;
        padding: 0 30px;
        &__title {
            display: inline-block;
            font-size: $font-size-larger;
        }
    }
    &__templates {
        height: 300px;
        background-color: $grey;
        padding: 0 10% 0 15%;
        display: flex;
        flex-direction: column;
        &__title {
            color: $white;
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: $font-size-larger;
        }
        &__content {
            display: flex;
            flex-direction: row;
            &__scrollable {
                overflow-x: auto;
                overflow-y: none;
                display: flex;
                flex-direction: row;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}

.template {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    &:last-child {
        margin-right: 0px;
    }
    &__content {
        width: 160px;
        height: 200px;
        background-color: $white;
        margin: 2px;
        box-sizing: border-box;
        &:hover {
            border: 2px solid $yellow;
        }
    }
    &__title {
        color: $white;
        text-transform: capitalize;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: $font-size-normal;
    }
}

.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    width: 50px;
    height: 50px;
}