@import '../../common/common.scss';
.main-page {
    display: flex;
    flex-direction: column;
    color: $yellow;
    &-header {
        display: flex;
        flex-direction: row;
        height: 45px;
        line-height: 45px;
        background-color: $dark-grey;
        justify-content: space-between;
        padding: 0 30px;
        &-title {
            display: inline-block;
            font-size: $font-size-larger;
        }
    }
    &-templates {
        height: 300px;
        background-color: $grey;
        padding: 0 15%;
        display: flex;
        flex-direction: column;
        &-title {
            color: $white;
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: $font-size-larger;
        }
        &-content {
            overflow: auto;
            display: flex;
            flex-direction: row;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    &-pages {
        padding: 0 15%;
        background-color: $dark-grey;
        height: 100vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 8px;
            margin-bottom: 8px;
            line-height: 26px;
            &-left-block {
                display: flex;
                flex-direction: row;
            }
            &-title {
                color: $white;
                font-size: $font-size-larger;
                margin-right: 8px;
            }
        }
        &-content {
            flex-direction: row;
        }
    }
}

.template {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    &:hover {
        height: 110%;
        width: 110%;
    }
    &-content {
        width: 160px;
        height: 200px;
        background-color: $white;
        margin: 2px;
        box-sizing: border-box;
        &:hover {
            border: 2px solid $yellow;
        }
    }
    &-title {
        color: $white;
        text-transform: capitalize;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: $font-size-normal;
    }
}