@import 'common/common.scss';
.pages {
    padding: 0 2% 0 60px;
    background-color: $prim;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    &__stats {
        display: flex;
        flex-direction: row;
        &__item {
            box-shadow: 0 0 6px rgba(0,0,0,0.2);
            min-width: 26%;
            min-height: 97px;
            background-color: $snow;
            margin-right: 25px;
            padding: 12px;
            &__count {
                font-size: $font-size-larger;
                color: $peach;
                margin-bottom: 2px;
            }
            &__title {
                font-size: $font-size-normal;
                color: $grey;
            }
            &._first {
                // background: linear-gradient(to right, #0033cc, #66ccff);
                background: url(/images/orange.jpg) no-repeat;
                background-size: contain;
            }
            &._second {
                // background: linear-gradient(to right, $peach, #ffff00);
                background: url(/images/blue.jpg) no-repeat;
                background-size: contain;
            }
            &._third {
                // background: linear-gradient(to right, #660066, #cc66ff);
                background: url(/images/purple.jpg) no-repeat;
                background-size: contain;
            }
        }
    }
    &__header {
        color: $peach;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 30px;
        margin-right: 105px;
        &__block {
            display: flex;
            flex-direction: row;
        }
        &__title {
            color: $grey;
            font-size: $font-size-larger;
            margin-right: 12px;
        }
    }
    &__content {
        padding: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        height: 65vh;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.icon {
    width: 26px;
    height: 26px;
    opacity: 1;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &.small {
        width: 20px;
        height: 20px;
    }
    &-owner {
        cursor: pointer;
    }
}

.search-bar {
    background-color: $white;
    border-radius: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pages {
        padding: 0 4% 0 6%;
        &__header {
            &__title {
                font-size: 35px;
            }
        }
    }
    .icon {
        width: 40px;
        height: 40px;
        &-owner {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
    }
}