@import 'common/common.scss';
.page {
    max-height: 168px;
    color: $peach;
    background-color: $snow;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    min-width: 42%;
    margin-right: 60px;
    margin-bottom: 20px;
    justify-content: space-between;
    &__content {
        padding: 6px;
        display: flex;
        flex-direction: row;
        &__qr {
            flex-grow: 1;
        }
        &__info {
            display: flex;
            flex-direction: column;
            flex-grow: 13;
            &__title {
                color: $grey;
                font-size: $font-size-large;
                font-weight: bold;
                margin-top: 4px;
            }
            &__type {
                display: flex;
                flex-direction: row;
                line-height: 26px;
            }
            &__date {
                color: $prim;
                display: flex;
                flex-direction: row;
                line-height: 21px;
                &__icon {
                    margin-left: 5px;
                    color: $prim;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__actions {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }
    &__actions {
        color: $peach;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 12px;
        background-color: $prim;
    }
    &__icon {
        width: 24px;
        height: 24px;
        opacity: 0.8;
        cursor: pointer;
        margin-right: -5px;
        padding-top: 7px;
        &:hover {
            opacity: 1;
        }
    }
    &__small-icon {
        margin-left: 5px;
        margin-top: 2px;
        width: 20px;
        height: 20px;
        color: $peach;
    }
    &__menu {
        position: absolute;
        background-color: $dark-grey;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: 38px;
        &__edit-link {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

.print-page {
    margin-left: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .page {
        width: 100%;
        height: 300px;
        max-height: 300px;
    }
}