@import 'common/common.scss';
.pages {
    padding: 0 2% 0 60px;
    background-color: $prim;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // height: 100%;
    &__stats {
        display: flex;
        flex-direction: row;
        &__item {
            min-width: 28%;
            min-height: 120px;
            background-color: $snow;
            margin-right: 30px;
        }
    }
    &__header {
        color: $peach;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 30px;
        margin-right: 105px;
        &__block {
            display: flex;
            flex-direction: row;
        }
        &__title {
            color: $grey;
            font-size: $font-size-larger;
            margin-right: 12px;
        }
    }
    &__content {
        padding: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        height: 68vh;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.icon {
    width: 26px;
    height: 26px;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &.small {
        width: 20px;
        height: 20px;
    }
    &-owner {
        cursor: pointer;
    }
}

.search-bar {
    background-color: $white;
    border-radius: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pages {
        padding: 0 4% 0 6%;
        &__header {
            &__title {
                font-size: 35px;
            }
        }
    }
    .icon {
        width: 40px;
        height: 40px;
        &-owner {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
    }
}