@import 'common/common.scss';
.qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $prim;
    height: 100%;
    width: 100%;
    &__not-found {
        display: flex;
        flex-direction: column;
        background-color: $prim;
        justify-content: center;
        align-items: center;
        height: 100vh;
        &__404 {
            color: $peach;
            font-size: 30vh;
        }
        &__text {
            color: $grey;
            font-size: $font-size-larger;
        }
    }
    &__html {
        height: 100%;
    }
    &__title {
        font-size: 35px;
        color: $peach;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &__custom {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $peach;
        align-items: center;
        background-color: $prim;
        &__content {
            display: flex;
            flex-direction: row;
            width: 80%;
            height: 80%;
            justify-content: center;
            flex-wrap: wrap;
            overflow: auto;
            &__item {
                background-color: $snow;
                width: max-content;
                height: max-content;
                margin: 12px;
                padding: 20px;
                text-align: center;
                &__title {
                    color: $peach;
                }
                &__text {
                    color: $grey;
                }
            }
        }
    }
    &__menu {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $peach;
        align-items: center;
        background-color: $prim;
        &__content {
            display: flex;
            flex-direction: row;
            width: 80%;
            height: 80%;
            justify-content: center;
            flex-wrap: wrap;
            overflow: auto;
        }
        &__item {
            box-shadow: 0 0 6px rgba(0,0,0,0.2);            
            margin: 12px;
            padding: 12px;
            width: 20%;
            height: 25%;
            background-color: $snow;
            font-family: $font-size-larger;
            color: $grey;
            text-align: center;
        }
    }
    &__back-button {
        position: fixed;
        top: 0;
        left: 0;
        min-height: min-content;
        margin: 20px;
        padding: 12px;
        background-color: $snow;
        font-size: 25px;
        color: $peach;
    }
    &__template-icon {
        width: 40%;
        height: 40%;
        color: $peach;
    }
}

.qr__push-succsessfull {
    display: flex;
    justify-content: center;
    font-size: $font-size-larger;
    color: $grey;
    margin-bottom: 20px;
}

.qr__push-error {
    display: flex;
    justify-content: center;
    font-size: $font-size-larger;
    color: $peach;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .qr__push-succsessfull {
        font-size: 60px;
    }
    .qr__push-error {
        font-size: 60px;
    }
    .qr__title {
        font-size: 60px;
    }
    .qr__content {
        max-width: 90%;
    }
    .qr__content__item__content {
        font-size: 40px;
    }
    .qr__content__item__title {
        font-size: 40px;
    }
    .qr__menu__item {
        margin: 30px;
        font-size: 25px;
        width: 40%;
        height: 200px;
    }
    .qr__menu__content {
        width: 90%;
        height: 90%;
    }
}