@import 'common/common.scss';
.header {
    display: flex;
    flex-direction: row;
    min-height: 45px;
    line-height: 45px;
    background-color: $snow;
    justify-content: space-between;
    padding: 0 30px;
    // border-bottom: 1px solid $light-peach;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    font-size: $font-size-large;
    color: $grey;
    &__title {
        display: inline-block;
        font-size: $font-size-larger;
        color: $peach;
    }
    &__right-block {
        display: flex;
        flex-direction: row;
        line-height: 48px;
        &__accaunt {
            margin-right: 12px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        min-height: 45px;
        line-height: 45px;
        font-size: 32px;
        &__title {
            font-size: 32px;
        }
    }
}