@import 'common/common.scss';
.text-area {
    width: 70%;
    caret-color: $dark-grey;
    color: $dark-grey;
    border: none;
    box-sizing: border-box;
    // border: 1px solid $peach;
    border: 1px solid transparent;
    box-shadow: $box-shadow;
    border-bottom: 1px solid #DDD;
    font-size: $font-size-normal;
    background-color: $white;
    padding-left: 6px; 

    &:focus {
        // border-width: 2px;
    }
}