@import 'common/common.scss';
.checkbox {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: $font-size-large;
    line-height: 20px;
    user-select: none;
    color: $grey;
    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border: 3px solid $peach;
        box-sizing: border-box;
        &._checked {
            background-color: $light-peach;
        }
    }
    &._disabled {
        opacity: 0.7;
    }
}