$dark-grey: #2d2d2d;
$grey: rgb(81, 81, 81);
$yellow: rgb(255, 217, 0);
$purple: rgb(232, 89, 143);
$white: rgb(255, 255, 255);
$snow: #FCFBFD;
$prim: #D6D7D7;
$light-peach: #FB9F74;
$peach: #F08177;
$font-size-small: 12px;
$font-size-normal: 15px;
$font-size-large: 18px;
$font-size-larger: 22px;